:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr: #181818;
  --liClr: whitesmoke;
  --accClr: #0d0d35;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--dkClr);
  color: var(--liClr);
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
}

#gameCanvas {
  display: block;
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  aspect-ratio: 1 / 1;
  touch-action: none;
}
